body{
    background: #000;
    color: #fff
}
.app{
    text-align: center;
    padding: 5px;
}
.appTitle{
    font-size: 40px;
    color: red;
}
.appFormat{
    font-size: 20px;
    margin-bottom: 20px;
}
.gif{
    padding: 10px;
    margin: 10px;
}